.structure-text {
  font-family: "Courier New", monospace;
  font-size: 14px;
  font-weight: 400;

  /**
   * Make copyable.
   */
  user-select: auto;
  -webkit-user-select: auto;

  pointer-events: auto;
}
